.panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    padding: 5px 0;
}

.panel__label {
    display: block;

    font-family: sans-serif, Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}

.panel__input {
    display: block;

    font-family: sans-serif, Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2em;

    border: 2px #747474 solid;

}