.panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    padding: 5px 0;
}

.panel__label {
    display: block;

    font-family: sans-serif, Arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2em;
}

.panel__input {
    display: inline;
    vertical-align: bottom;
    flex-grow: 1;

    font-family: sans-serif, Arial;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3em;

    border: 2px #747474 solid;
}

.panel__select {
    width: 60px;


    display: inline;
    vertical-align: bottom;
    flex-grow: 1;

    font-family: sans-serif, Arial;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3em;

    border: 2px #747474 solid;
    border-left: 0;
    border-radius: 0 5px 5px 0;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.panel__group {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}

.panel__group .panel__button {
    border-left: 0;
}

.panel__group .panel__input {
    border-right: 0;
}

.panel__button {
    display: inline;
    vertical-align: bottom;

    background: #ebebeb;
    border: 2px #747474 solid;

    padding: 2px 3px 3px 6px;
}

.panel__button svg {
    fill: #7F7F7F;
}